# DDNS record name
NAME=""

# Cloudflare CDN suffix
CDN="cdn.cloudflare.net"

# Cloudflare domain zone ID
ZONE_ID=""

# Cloudflare DNS record ID
DNS_RECORD_ID=""

# Cloudflare authorization token
TOKEN=""

# DNS server used to check DDNS record
DNS_SERVER="223.5.5.5"

# Cloudflare request body used to update DDNS record
DNS_RECORD='{
  content: $IP,
  name: $NAME,
  "proxied": false,
  "type": "A",
  "comment": "ddns",
  "tags": [],
  "ttl": 300
}'
